/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll#:~:text=html%2C%20body%20%7B%0A%20%20%20%20max%2Dwidth%3A%20100%25%3B%0A%20%20%20%20overflow%2Dx%3A%20hidden%3B%0A%7D */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  min-width: 1200px; 
  /* ??? */
}

.main-content > * {
  margin: 0px 135px;
}

.main-content {
  margin-top: 64px;
  margin-bottom: 0px;
}

.background-img {
  position: absolute;
  z-index: -2;
  right: 0;
  top: 0;
  width: 50%;
  background-image: linear-gradient(to bottom left, orange, 10%, white, white);
}

.text-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #585858;
  font-size: 24px;
}

.main-header-link {
  color: #575757;
  text-decoration: none;
}

.main-header-link:visited {
  /* text-decoration: none; */
  color: #575757;
}

.main-header-bookmarks .main-header-link:first-child {
  color: #fb9300;
}

.main-header-bookmarks .main-header-link:first-child:visited {
  /* text-decoration: none; */
  color: #fb9300;
}

.orange-part-title {
  color: #fb9333;
}

#text-logo-orange {
  font-weight: 900;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 30px 135px;
}

.main-header-bookmarks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 30%;
}

.orange-butt {
  background-color: #fb9333;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 16px 32px;
  width: fit-content;
}

.number-one-title {
  background-color: #fff0dc;
  padding: 16px;
  color: #fb9333;
  border-radius: 100px;
  width: fit-content;
  font-weight: 600;
  font-size: 16px;
}

.subheader {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 30px;
}

.subheader-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subheader-woman-salad {
  position: relative;
  width: 100%;
  min-width: 400px; /* random size. looks diabolical when shrinked */
}

/* to be done size from vw to rem or px + br if needed*/
.main-headlines {
  font-size: 48px;
  color: #585858;
}

#headline-subheader {
  font-size: 72px;
  max-width: 598px; /*following design text splitting*/
}

#headline-people {
  color: #333333;
  margin-top: -30px;
  margin-bottom: 30px;
}

.subheader-text {
  font-size: 20px;
  color: #828282;
  max-width: 507px; /* following design text splitting */
}

.subheader-section-number {
  display: block;
  color: #575757;
  font-size: 24px;
  font-weight: 600;
}

.subheader-section-figures-list {
  display: flex;
  gap: 52px;
  margin: 20px 20px 20px 0px;
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

/* in question. current way, beause can't anchor to woman img. */
.subheader-aside {
  position: relative;
}

.aside-review {
  display: flex;
  position: absolute;
  top: 75%;
  background-color: #ffffff;
  border-radius: 35px;
  padding: 5px;
  width: 288px; /* design width */
  align-items: center;
  min-width: 240px;
  gap: 20px;
}

.aside-review-wrapper > * {
  display: block;
}

.aside-review-smile {
  float: left;
  /* units in question */
  width: 60px;
}

/* to redo layout */
.aside-review-text {
  font-weight: 600;
  color: #575757;
}

.aside-review-rating {
  font-weight: 600;
  font-size: 12px;
}
.review-text {
  font-weight: 400;
  color: #828282;
}

.aside-calories {
  position: absolute;
  top: 73%;
  right: 0%;
  background-color: #ffffffe5;
  padding: 16px;
  border-radius: 16px;
}

.aside-calories > * {
  display: block;
}

.aside-calories-title {
  font-weight: 500;
  font-size: 16px;
  color: #575757;
}

.aside-calories-number {
  font-weight: 600;
  font-size: 24px;
  color: #2b2b2b;
}

.progressbar-wrapper {
  display: flex;
  gap: 5px;
}

.outer-progressbar {
  background-color: #f5f5f5;
  border-radius: 100px;
}

.inner-progressbar {
  padding: 5px;
  background: linear-gradient(#ffd7a0, #fb9333);
  border-radius: 100px;
}

/* below is contrversial way to mimc 
the progressbars in the original design */

#inner-first {
  padding-top: 30px;
}

#outer-first {
  padding-top: 43px;
}

#inner-second {
  padding-top: 40px;
}

#outer-second {
  padding-top: 33px;
}

#inner-third {
  padding-top: 52px;
}

#outer-third {
  padding-top: 21px;
}

#inner-fourth {
  padding-top: 45px;
}

#outer-fourth {
  padding-top: 28px;
}

#inner-fifth {
  padding-top: 40px;
}

#outer-fifth {
  padding-top: 33px;
}

#inner-sixth {
  padding-top: 58px;
}

#outer-sixth {
  padding-top: 15px;
}

#inner-seventh {
  padding-top: 63px;
}

#outer-seventh {
  padding-top: 10px;
}

#inner-eighth {
  padding-top: 65px;
}

#outer-eighth {
  padding-top: 8px;
}

/* end of the contraversial thing above */
.reasons-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}

.reasons-headline {
  max-width: 613px;
  margin: 0px;
}

.reasons-text {
  font-size: 20px;
  font-weight: 500;
  color: #828282;
  max-width: 467px;
}

.reasons-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reasons-section :first-child {
  width: 100%;
}

.reasons-wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  margin-top: 64px;
}

.reasons-article {
  border: 1px solid #fff0da;
  border-radius: 50px;
  padding: 29px; /*design*/
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.reasons-article:hover {
  box-shadow: 0px 10px 10px 10px #976d0033;
}

.reasons-article-img {
  width: 40%;
  min-width: 100px;
  margin-bottom: 40px;
}

.reasons-article-title {
  font-size: 24px;
  font-weight: 600;
  color: #2b2b2b;
}

.reasons-article-text {
  color: #575757;
}

.reasons-article-button {
  padding: 10px 24px;
  gap: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  /* width: 30%; */
  /* min-width: 135px; */
  width: fit-content;
  border-radius: 100px;
  border: none;
  background-color: #ffffff;
  color: #575757;
}

.reasons-article:hover .reasons-article-button {
  color: #ffffff;
  background-color: #fb9333;
}

/*change img in hover by design*/

.article-button-icon-black {
  width: 24px;
}
.article-button-icon-white {
  width: 24px;
  display: none;
}

.reasons-article:hover .article-button-icon-black {
  display: none;
}

.reasons-article:hover .article-button-icon-white {
  display: inline;
}
/*end of change img in hover by design*/

.people-banner {
  background-color: #ffe8c780;
  margin: 0px;
  padding: 170px 0px 120px 135px;
  display: flex;
}

.people-banner-section {
  max-width: 408px;
}

.people-banner-text {
  color: #999999;
  margin-bottom: 32px;
}

/*https://stackoverflow.com/questions/47715831/setting-a-max-width-for-flex-items#:~:text=I%20would%20apply%20a%20width%20or%20min%2Dwidth%20to%20the%20.child%20items%20(or%20left/right%20padding%20that%20creates%20the%20distance%20between%20them)%20and%20margin%2Dleft%3A%20auto*/
.people-articles-wrapper {
  display: flex;
  gap: 30px;
  max-width: 60%;
  margin-left: auto;
}

.people-banner-article {
  position: relative;
  background-color: white;
  padding: 150px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  left: 50px;
  border-radius: 8px;
}

.people-img {
  position: absolute;
  width: 100px;
  left: 10px;
  top: -50px;
}

.people-article-name {
  font-size: 24px;
  color: #2b2b2b;
  font-weight: 500;
}

.people-article-age {
  font-size: 14px;
  font-weight: 500;
  color: #999999;
}

.people-article-text {
  color: #575757;
}

.people-banner-page-current {
  font-size: 48px;
  font-weight: 700;
  color: #333333;
}

.people-banner-pages-number {
  font-weight: 700;
  color: #cccccc;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 24px;
}

.people-butt {
  background-color: #ffc87a;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
}

.people-butt:hover {
  background-color: #fb9333;
}

/* https://stackoverflow.com/questions/44533946/css-positioning-icon-inside-a-button/44533968#:~:text=!important%3B-,vertical%2Dalign%3Amiddle%3B,-%7D%0A%0Abutton%20%7B */

.people-butt-arrow {
  width: 70%;
  vertical-align: middle;
}

.menu-small-title {
  color: #fb9333;
  font-size: 20px;
  font-weight: 500;
}

.menu-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.menu-article-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.menu-banner-article {
  position: relative;
}

.menu-article-img {
  width: 100%;
}

.menu-article-name {
  position: absolute;
  top: 73%;
  left: 10%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

.menu-article-price {
  position: absolute;
  color: #ffffff;
  left: 10%;
  top: 80%;
  font-size: 40px;
  font-weight: 700;
}

#menu-headline {
  text-align: center;
  max-width: 753px;
  margin-top: 12px;
  margin-bottom: 71px;
}

.subscribe-banner {
  position: relative;
  background-color: #fff1de;
  /* horizontal margin: main-content + menu-article-wrapper */
  margin: 100px 135px;
  border-radius: 50px;
  padding: 48px 0px 98px;
  display: flex;
  justify-content: center;
}

.subscribe-banner > * {
  text-align: center;
}

.subscribe-banner-text {
  color: #575757;
  max-width: 480px; /*design*/
  margin-top: 24px;
  margin-bottom: 0px;
}

.subscribe-content-warpper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  max-width: 674px;
}

.subscribe-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.subscribe-small-title {
  color: #fb9333;
  font-size: 20px;
}

#subscribe-headline {
  margin: 0px;
  color: #585858;
}

.subscribe-form {
  margin-top: 80px;
  position: relative;
  width: 100%;
  min-width: 350px;
}

.subscribe-input {
  border: none;
  border-radius: 100px;
  padding: 20px 40px;
  width: 100%;
  /* https://stackoverflow.com/questions/69062426/input-element-exceeding-its-parents-width#:~:text=box%2Dsizing%3A%20border%2Dbox%3B */
  box-sizing: border-box;
}

#subscribe-butt {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
}

.main-footer {
  display: flex;
  margin: 50px 135px;
  justify-content: space-between;
}

.main-footer > * {
  color: #575757;
}

.footer-jez-salad {
  width: 15%;
  justify-content: space-between;
}

.footer-main-label {
  margin-bottom: -30%;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

#footer-orange {
  font-weight: 900;
}

.footer-text {
  margin-bottom: -30%;
}

.footer-title {
  color: #fb9333;
  font-size: 16px;
  font-weight: 600;
}

.footer-feature-item {
  color: #575757;
  text-decoration: none;
}

.footer-feature-item:visited {
  color: #575757;
}

.main-footer > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-media-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer-media-image {
  width: 50%;
}

.footer-copyright {
  position: relative;
  bottom: 0px;
  font-size: 16px;
}

.footer-contact-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contact-img {
  width: 10%;
}

/* Current problems:

- to be added a heart img above a woman if requested 
*/
